.hero {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-image: url("https://res.cloudinary.com/ilnphotography/image/upload/v1577361333/HomePage/chair_ypunl3.jpg");
  filter: grayscale(1);
}