.hero {
  height: 100vh;
  width: 100%;
  overflow: hidden;

  &-img {
    background-size: cover;
    background-image: url("https://res.cloudinary.com/ilnphotography/image/upload/v1580835537/HomePage/front_kor2i0.jpg");
    background-position:center;
    
    width: 100%;
    height: 100%;
    
    -webkit-animation: heroAnim 15s ease 1s forwards;
    animation: heroAnim 15s ease 1s forwards;
  }

}
