* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
  outline: none;
}

a{
  text-decoration: none;
  text-underline:none;
  color: white;
}

body{
  background-color:#191a1d;
  scroll-behavior:smooth;
  color:white;
  font-family: "Exo" , sans-serif;
  font-weight: 300;
  box-sizing: border-box;
}